
.wp-site-blocks {


    //header 
    header.wp-block-template-part {   
        
        background: $bg_secondary;
        border-bottom: 3px white solid;            

        img#main_logo {

            border-radius: 50%;
            display: block;
            margin: 0 auto;
            position: relative;
            /* bottom: 30px; */
            /* bottom: 50px; */
            top: 10px;
        }

        h1 {

            text-align: center;
            color: white;

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        h2 {
            
            text-align: center;
            color: white;

        }

        p {

            text-align: center;
            color: white;
        }

        a {

            color: white;

            &:hover {

                text-decoration: none;
            }

        }    
        
        .wp-block-group {
            /* width: 47%; */
            width: 85%;
            display: block;
            margin: 0 auto;
        }

    }

    p {
        text-align: center;
    }

}

