


/*******************

BLOCK EDITING CONTAINING STYLES FOR CSS

.wp-site-blocks - containing element for all WordPress blocks
    
    .wp-block-template-part - containing element for Template Part Blocks

    .wp-block-group - Block Group Containing 

        .wp-block-query  - Container for the Query List

            .wp-block-post-pagination

            .wp-block-post-template - Container element for a Query Tenplate

                .wp-block-post - Containing Element for a Block Post

*******************/


.wp-site-blocks {

    // paragraph styling
    p {
        /* text-align: center; */
    }

    .first-paragraph {
        
        text-align: center;

    }

    
    .wp-block-group {

        content: "";


        // Category list for archive pages
        .wp-block-post-terms {

            a {
                
                color: #07480f;
                font-weight: bold;
            }
        }

        /* Query Post List wp-block-query */
        .wp-block-query {

            /* color: red; */
            color: black;

            // wp-post-template
            .wp-block-post-template {

            
                .category-uncategorised {

                    /* border-bottom: solid black 1px; */
                }
            
                // wp-block-post    
                .wp-block-post {

                    background: #6fbbf1;
                    transition: background .3s;

                    &:hover {

                        background: #58c4b9;            
                    }            

                    .wp-block-post-title {

                        a {

                            color: #da2020;

                            &:hover {

                                text-decoration: none;
                            }

                        }

                    }                

                    .wp-block-post-content {

                        /* background: #3ab3fe; */

                        .wp-block-image {

                            border: solid red 1px;
                        }

                    }

                }

            }

        }  


        // wp-block-post-title

        // wp-block-query post-list
        .post-list {

            background: none;
            margin: 0;

            // wp-post-template
            .wp-block-post-template {

               // wp-block-post
               .wp-block-post {

                    background: none;
                    font-size: 12px;

                    &:hover {
                        
                        background: none;
                    }                     
    
                    .wp-block-post-title {
                        
                        margin: 0;
        
                        a {
        
                            color: #434343;
        
                            &:hover {
        
                                text-decoration: none;
                            }
        
                        }

                    }

                }

                .wp-block-post-content {

                    .wp-block-image {

                        border: solid red 1px;
                    }
                }
    
            } 
    
        }   

    }




    /* header template part */
    header.wp-block-template-part {   
        
        background: $bg_secondary;
        border-bottom: 3px white solid;            

        img#main_logo {

            border-radius: 50%;
            display: block;
            margin: 0 auto;
            position: relative;
            /* bottom: 30px; */
            /* bottom: 50px; */
            top: 10px;
        }

        h1 {

            text-align: center;
            color: white;

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        h2 {
            
            text-align: center;
            color: white;

        }

        p {

            text-align: center;
            color: white;
        }

        a {

            color: white;

            &:hover {

                text-decoration: none;
            }

        }    
        
        .wp-block-group {
            /* width: 47%; */
            width: 85%;
            display: block;
            margin: 0 auto;
        }

    }

 
    /* footer template part */
    footer.wp-block-template-part {

        p {
            text-align: center;
        }
    }

}

