

/*******************

BLOCK EDITING CONTAINING STYLES FOR CSS

.wp-site-blocks - containing element for all WordPress blocks
    
    .wp-block-template-part - containing element for Template Part Blocks

    .wp-block-group - Block Group Containing 

        .wp-block-query  - Container for the Query List

            .wp-block-post-pagination

            .wp-block-post-template - Container element for a Query Template

                .wp-block-post - Containing Element for a Block Post

*******************/


.wp-site-blocks {

    // paragraph styling
    p {
        /* text-align: center; */
    }

    .first-paragraph {
        
        text-align: center;    

    }

    /* second heading paragraph for second query loop */
    .blog_list_title {

        text-align: center;
        font-size: large;
        border-bottom: 3px solid black;

    }

    
    /* Styles for WP Group Block */
    .wp-block-group {

        content: "";

        display: block;
        margin: 0 auto;
        width: 50%;


        // Category List for archive pages - specific to post or a page
        .wp-block-post-terms {

            a {
                
                color: #07480f;
                font-weight: bold;
            }
        }

        /* Category List - all pages*/
        .wp-block-categories-list, .wp-block-categories {

            list-style: none;
            padding: 0;

            li.cat-item {
                
                display: inline-block;

                a {

                    color: red;

                    &:hover {

                        text-decoration: none;
                    }
                }
            }
        }

        /* Query Post List wp-block-query */
        .wp-block-query {

            /* color: red; */
            color: black;

            // wp-post-template
            .wp-block-post-template { 
            
                // wp-block-post - containing element for a block post   
                .wp-block-post {

                    background: #6fbbf1;
                    transition: background .3s;

                    &:hover {

                        background: #58c4b9;            
                    }            

                    /* Block post title */
                    .wp-block-post-title {

                        text-align: center;

                        a {

                            color: #da2020;

                            &:hover {

                                text-decoration: none;
                            }

                        }

                    }                

                    /* Styling for a Query Loop Block */
                    .wp-block-post-content {

                        /* background: #3ab3fe; */


                        // contents of a query loop block
                        .wp-block-image {

                            border: solid red 1px;
                        }


                        /*Style  - Link,  inside a paragraph block, inside Query Loop Block */
                        p {

                            a {
                                color: red;
                            }

                        }

                        /* Styling - Query Pagination Block */
                        .wp-block-query-pagination {

                             /* Query Pagination Block numbers */ 
                            .wp-block-query-pagination-numbers {

                                a {

                                    color: red;
                                    font-weight: normal;
                                }

                                a.page-numbers {

                                    color: red;

                                    &:hover {

                                        text-decoration: none;
                                    }

                                }
                                

                                span {

                                     /* page number link colour */
                                     &.current {

                                        color: red;
                                        font-weight: bold;
                                     }

                                     /* Sets the colour of the non clickable current page number - pagination block */
                                     &.page-numbers {
     
                                         color: blue;
                                     }     

                                }

                            }

                            /* pagination links.... */
                            .wp-block-query-pagination-next,
                            .wp-block-query-pagination-previous {
                             
                                color: red;

                                &:hover {

                                    text-decoration: none;
                                }

                                a {

                                    color: red;
                                }

                            } 

                        }

                    }

                    /* archives-list classes */
                    .wp-block-archives-list, .wp-block-archives {

                        color: black;
                        list-style: none;
                        padding: 0;
    
                        li {

                            height: 20px;

                            a {

                                color: green;
                                margin: 10px 0;
                            }

                        }
                    }

                    /* wp-block-post-author inside query loop*/

                    .wp-block-post-author {

                        .wp-block-post-author__content {

                            color: blue;

                        }

                        .wp-block-post-author__name {

                            color: blue;

                        }
                    }

                    /* wp-block-post-author inside query loop*/
                    .wp-block-post-date {

                        time {

                            color: red;
                        }
                    }

                }

            }

        }  


        // wp-block-archives-list wp-block-archives


        // wp-block-post-title

        // second wp-block-query post-list
        .post-list {

            background: none;
            margin: 0;

            

            // wp-post-template
            .wp-block-post-template {

               // wp-block-post
               .wp-block-post {

                    background: none;
                    font-size: 12px;

                    &:hover {
                        
                        background: none;
                    }                     
    
                    .wp-block-post-title {
                        
                        margin: 0;
        
                        a {
        
                            color: #434343;
        
                            &:hover {
        
                                text-decoration: none;
                            }
        
                        }

                    }

                }

                /* post list query block - query loop*/
                .wp-block-post-content {

                    .wp-block-image {

                        border: solid red 1px;
                    }

                }
    
            } 
    
        }   

    }

    .single {

        .wp-block-post-title {

            text-align: center;

        }

        .wp-block-post-content {

            line-height: 2;
        }

        .wp-block-post-date {

            color: red;

        }

        .wp-block-post-terms {

            
        }
    }


    /* header template part */
    header.wp-block-template-part {   
        
        background: $bg_secondary;
        border-bottom: 3px white solid;            

        img#main_logo {

            border-radius: 50%;
            display: block;
            margin: 0 auto;
            position: relative;
            /* bottom: 30px; */
            /* bottom: 50px; */
            top: 10px;
        }

        h1 {

            text-align: center;
            color: white;

            a {
                color: white;

                &:hover {

                    text-decoration: none;
                }

            }

        }

        h2 {
            
            text-align: center;
            color: white;
        }

        p {

            text-align: center;
            color: white;
        }

        a {

            color: white;

            &:hover {

                text-decoration: none;
            }

        }    
        
        .wp-block-group {
            /* width: 47%; */
            width: 85%;
            display: block;
            margin: 0 auto;
        }

    }

 
    /* footer template part */
    footer.wp-block-template-part {

        p {

            text-align: center;
        }
        
    }

}

