//config


//colours
$main_bg: #65b7ff;

$bg_primary: #f5f5c0;
$bg_secondary: #070c41;
$bg_tertiary: #000000;

$col_primary: white;
$col_secondary: #f5f5c0;
$col-tertiary: orange;
$col-quaternary: #eaf37f;
$col-quinary: #000000; 

$col_list_item:  #26b972;
$col_list_item_hover: #eaf37f;


$article_nav: #eaf37f;
$article_nav_hover: #89c48b;

$link_main: #26b972;
$link_main_hover: #eaf37f;
$link_secondary: red;
$link_secondary_hover: white;

$col-heading: white;
$col-secondary-link: white;
$col-secondary-hover: #faf67c;



$col_author_heading: #425c42;

$nav_primary: white;
$nav_primary_hov: #f4e17a;

$widget_heading: #e8ca72;
$widget_colour: #a2d823;



//fonts
$font: 'Merriweather Sans', sans-serif;
$font-one: 'Merriweather Sans', sans-serif;


