<!-- wp:template-part {"slug": "header", "tagName": "header", "layout": {"inherit": true}} /-->
 

<div class="first-paragraph">

    <!-- wp:paragraph { "className": "first-paragraph", "code-bg" } -->
    <p>Welcome to the world of blocks. index.html</p>
    <!-- /wp:paragraph -->

</div>

<!-- wp:group {"layout":{"inherit":false}} -->
<div class="wp-block-group">

    
	<!-- wp:post-terms {"term":"category"} /-->

    <!-- wp:query -->
    <div class="wp-block-query">

        <!-- wp:post-template -->

            <!-- wp:post-title {"isLink" :true } /-->
            <!-- wp:post-content /-->
            <!-- wp:post-date /-->
            <!-- wp:post-author {"isLink" :true, "link" :true } /-->

        <!-- /wp:post-template -->
    
        <!-- wp:query-pagination -->
        <div class="wp-block-query-pagination">
            <!-- wp:query-pagination-previous /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next /-->
        </div>

        <!-- /wp:query-pagination -->

    </div>
    <!-- /wp:query -->     
    
    <!-- wp:paragraph -->
        <p>Blog List</p>
    <!-- /wp:paragraph -->


    <!-- wp:query { "className": "post-list" } -->
    <div class="wp-block-query post-list">

        <!-- wp:post-template -->

            <!-- wp:post-title {"isLink" :true } /-->            

        <!-- /wp:post-template -->   

    </div>
    <!-- /wp:query -->                            

</div>
<!-- /wp:block -->




<!-- wp:template-part {"slug": "footer", "tagName": "footer", "layout": {"inherit": true}} /-->