<!-- wp:template-part {"slug": "header", "tagName": "header", "layout": {"inherit": true}} /-->

<!-- wp:paragraph -->
<p>templates/page-one.html</p>
<!-- /wp:paragraph -->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:post-featured-image /-->
	<!-- wp:post-title /-->
	<!-- wp:post-date /-->
	<!-- wp:post-terms {"term":"category"} /-->
	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer", "tagName": "footer", "layout": {"inherit": true}} /-->