
body {

    background: $main_bg;
}

header {
    
    background: $bg_secondary;
    border-bottom: 3px white solid;

    h1 {

        text-align: center;
        color: $col_primary;
        margin: 0 auto;

        span {
            color: $col-tertiary;
            font-size: 12px;
        }
        
    }

    h2 {
        margin: 0 auto;
    }

}